<div class="container">
  <h2>Send custom payload</h2>

  <div class="mat-select-container">
    <mat-form-field>
      <mat-label>Choose fixture </mat-label>
      <mat-select
        (selectionChange)="onFixtureChange(proposition, $event.value)"
      >
        @for(fixture of jsonFixtures;track fixture){<mat-option
          [value]="fixture"
        >
          {{ fixture }} </mat-option
        >}
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Must be a valid Json</mat-label>
    <textarea matInput rows="25" [(ngModel)]="inputData"></textarea>
  </mat-form-field>

  <div class="right-aligned">
    <button mat-raised-button class="button" (click)="onSendPayload()">
      Send
    </button>
  </div>
</div>
