<h2>SignalR message</h2>
<p>Send Preset Message</p>
<div class="button-container">
  @for(button of config?.buttons;track $index){
  <div class="button-container-row menu-wrapper">
    <div>
      <button
        mat-raised-button
        class="button"
        (mouseenter)="onMouseEnter($index)"
        (mouseleave)="onMouseLeave()"
        (click)="onButtonClick(button.action)"
      >
        <span>{{ button.label }}</span>
        <mat-icon *ngIf="button.submenuButtons?.length > 0"
          >arrow_right</mat-icon
        >
      </button>
    </div>
    <div
      class="submenu"
      [class.show]="hoveredIndex === $index"
      (mouseenter)="onMouseEnter($index)"
      (mouseleave)="onMouseLeave()"
    >
      <div cclass="submenu-button-container">
        @for(item of button.submenuButtons;track $index){
        <div>
          <button
            mat-raised-button
            class="button submenu-button"
            (click)="onButtonClick(button.action)"
          >
            {{ item.label }}
          </button>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
