p {
  margin: 0;
  padding: 0;
}
.send-map-update,
.send-map-update__content,
.column-container {
  display: flex;
  flex-direction: column;
}

.column-container {
  padding-top: 8px;
}

.send-map-update__content {
  justify-content: center;
  width: 100%;
}

.send-map-update__title {
  margin-top: 8px;
}

.send-map-update__form {
  margin: 5px;
  padding: 0;
  width: 200px;
  min-height: 40px;
}

.send-map-update__button {
  margin: 5px;
  padding: 10px;
  width: 200px;
  min-height: 40px;
  font-weight: 700;
}

.fixed-min-width {
  width: 200px;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  max-height: 4px !important;
}
