<div class="resizable-container">
  <div class="header">
    <mat-form-field class="full-width">
      <mat-label>Load Stubby </mat-label>
      <mat-select (selectionChange)="onPreviewUrlChange($event.value)">
        @for(stubby of config.previewUrls;track stubby.url){<mat-option
          [value]="stubby.url"
          >{{ stubby.label }} </mat-option
        >}
      </mat-select>
    </mat-form-field>
    <button mat-icon-button class="refresh" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <iframe [src]="sanitizedUrl" frameborder="0"></iframe>
  <div class="right-aligned">Drag anchor to ressize preview</div>
</div>
