<div class="resizable-container">
  <div class="header">
    <mat-form-field class="full-width">
      <mat-label>Load Stubby </mat-label>
      <mat-select (selectionChange)="onPreviewUrlChange($event.value)">
        @for(stubby of config.previewUrls;track stubby.url){<mat-option
          [value]="stubby.url"
          >{{ stubby.label }} </mat-option
        >}
      </mat-select>
    </mat-form-field>
    <div class="actions">
      <button mat-icon-button class="action-buttons" (click)="onOpenInNewTab()">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-icon-button class="action-buttons" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <iframe [src]="sanitizedUrl" frameborder="0"></iframe>
  <div class="right-aligned">Drag anchor to ressize preview</div>
</div>
